@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-size: 16px;
}

body {
  color: black;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.3), rgba($color-primary-dark, 0.3)),
    url(../assets/img/accident.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 15rem;
  margin: 0;
  padding: 1rem 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 1rem;
  }

  &__title {
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  &__button {
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 35px;
    border: 1px solid #e5e5e5;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 1rem auto;
    padding: 1rem 2.5rem 1rem 3.5rem;
    width: 20rem;
    position: relative;
    transition: 0.3s ease-in-out;

    &:hover {
      background: rgba(204, 34, 41, 0.8);
      color: black;
      animation: alarm 1s linear infinite;
    }

    &::before {
      position: absolute;
      left: -2%;
      top: -12%;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      content: (url("../assets/img/phoneCall.svg"));
    }
  }
}

.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.case-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.case {
  cursor: pointer;
  min-width: 315px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 35px;
  padding: 1rem;
  padding-left: 3rem;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &::before {
    content: (url("../assets/img/plus-icon.svg"));
    position: absolute;
    width: 44px;
    height: 44px;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@keyframes alarm {
  0% {
    background: blue;
  }

  49% {
    background: red;
  }

  51% {
    background: red;
  }

  100% {
    background: blue;
  }
}
